
    <div class="row">
        <div class="col-md-6 offset-md-3">
            
        <div class="form-group">
            <labelf for="title"><b>Title</b></label>
            <input class="form-control" id="title" name="title" type="text" placeholder="Type Title"
                value="<%- (typeof old !='undefined')?old.title:''; %>">
            <small class="text-danger">
                <%= (typeof errors !='undefined' && errors.title)?errors.title:''; %>
            </small>
        </div>
        
        <div class="form-group">
            <labelf for="symbol"><b>Symbol</b></label>
            <input class="form-control" id="symbol" name="symbol" type="text" placeholder="Type Symbol"
                value="<%- (typeof old !='undefined')?old.symbol:''; %>">
            <small class="text-danger">
                <%= (typeof errors !='undefined' && errors.symbol)?errors.symbol:''; %>
            </small>
        </div>
        
        </div>
    </div>
    